{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style1.css' %}">

    <title>Document</title>
</head>
<body>
    <!-- <h1>Admin Page</h1>
    <a href="/">Register new user</a>
    <a href="/logout">Logout</a>
    <h2>States</h2>
    {% for state in states %}
    {{state.state_name}}
    {% endfor %}
    <form action="{% url 'admin' %}" method="POST">
        {% csrf_token %}
        <select name="district_id">
            {% for district in districts %}
                <option>{{district.district_name}} ({{district.district_id}})</option>
            {% endfor %}
        </select><br>
        <label for="is_telegram" class="label">Is Telegram</label>
        <input type="radio" id="true" name="is_telegram" value="True">
        <label for="true">Yes</label>
        <input type="radio" id="false" name="is_telegram" value="False">
        <label for="false">No</label><br>
        <label for="is_active" class="label">Is Active</label>
        <input type="radio" id="true" name="is_active" value="True">
        <label for="true">Yes</label>
        <input type="radio" id="false" name="is_active" value="False">
        <label for="false">No</label><br>
        <label for="telegram_channel_name">Channel Name</label>
        <input type="text" name="telegram_channel_name" id="telegram_channel_name">
        <label for="telegram_channel_id">Telegram id</label>
        <input type="text" name="telegram_channel_id" id="telegram_channel_id"><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Registered Users</h2>
    {% for user in users %}
    {{user.email}}
    {% endfor %} -->
    <section class="page-contain">
        {% for district in districts %}
        <a href="/edit/{{district.district_id}}" class="data-card">
          <h3>{{district.district_name}}</h3>
        </a>
        {% endfor %}
      </section>
</body>
</html>