{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    {% for message in messages %}
    <div class="newalert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Message:</strong> {{ message }}
    </div>
    {% endfor %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Home</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Welcome to Notifier</h2>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Subscribe Now</h3>
                                </div>
                            </div>
                            <form action="{% url 'home' %}" method="POST" class="signin-form">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label class="label" for="district_id">District</label>
                                    <input type='number' name='district_id' id="district_id" placeholder="District"
                                        class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="email">Password</label>
                                    <input input type="email" name="email" id="email" placeholder="Email"
                                        class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="telegram" class="label">Telegram</label>
                                    <input type="radio" id="true" name="telegram" value="True">
                                    <label for="true">Yes</label>
                                    <input type="radio" id="false" name="telegram" value="False">
                                    <label for="false">No</label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Subscribe Now
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>