<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <input type='number' name= 'district_id' id="district_id" placeholder="DISTRICt ID">
        <input type="email" name="email" id="email" placeholder="EMAIL"><br>
        <input type="radio" id="true" name="telegram" value="True">
        <label for="true">True</label><br>
        <input type="radio" id="false" name="telegram" value="False">
        <label for="false">False</label><br>
        <input type="submit" value="submit">
    
    </form>
</body>
</html>