<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <section>
      {% for message in messages %}
      <div class="newalert">
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
         <strong>Message:</strong> {{ message }}
      </div>
      {% endfor %}
   </section>
   <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div>
         <label for="id_username">Username</label>
         <input type="text" placeholder="Username" name="loginusername" id="loginusername" required />
      </div>
      <div>
         <label for="id_password1">Password</label>
         <input type="password" placeholder="Password" name="loginpassword" id="loginpassword" required />
      </div>
      <button type="submit">Login</button>
   </form>
   <a href="/register"><button>Register</button></a>
</body>

</html>