{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Visitors Subscription Page</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Welcome to Notifier</h2>
                                <a href="/login" class="btn btn-white btn-outline-white">Admin Login</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Subscribe Now</h3>
                                </div>
                            </div>
                            <form class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" for="state_id">State</label>
                                    <select name='state_id' id="state_id" placeholder="State"
                                        class="form-control" required>
                                        {% for state in states %}
                                        <option>{{state.state_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="district_id">District</label>
                                    <select name='district_id' id="district_id" placeholder="State"
                                        class="form-control" required>
                                        {% for district in districts %}
                                        <option value={{district.district_id}}>{{district.district_name}} ({{district.district_id}})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3" onclick="displayDetails()">Subscribe Now</button>    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    function displayDetails() {
        var data = document.getElementById("district_id")
        var district_id = data.options[data.selectedIndex].value
        alert(`You selected ${district_id}`)
    }
</script>
</html>